# Movie Analysis Project

# Load Packages

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
import os

# Load the Data

In [2]:
basics = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz",
                      sep="\t",low_memory = False)
basics.replace({"\\N":np.nan}, inplace = True)
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9151875 entries, 0 to 9151874
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 628.4+ MB

In [3]:
akas = pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz",
                      sep="\t",low_memory = False)
akas.replace({"\\N":np.nan}, inplace = True)
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32863645 entries, 0 to 32863644
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [4]:
ratings = pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz",
                      sep="\t",low_memory = False)
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1263582 entries, 0 to 1263581
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1263582 non-null  object
 1   averageRating  1263582 non-null  float64
 2   numVotes       1263582 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.9+ MB

# Clean the Data

In [5]:
# Remove the nulls runtime movies
basics.drop(basics[basics["runtimeMinutes"].isna()].index, inplace = True)
basics["runtimeMinutes"].isna().sum()

0

In [6]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2460395 entries, 0 to 9151874
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 187.7+ MB

In [7]:
# Get only Movies
basics["titleType"].unique()

array(['short', 'movie', 'tvEpisode', 'tvSeries', 'tvShort', 'tvMovie',
       'tvMiniSeries', 'video', 'tvSpecial', 'videoGame'], dtype=object)

In [8]:
basics.drop(basics[basics["titleType"] != "movie"].index, inplace=True)
basics["titleType"].unique()

array(['movie'], dtype=object)

In [9]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 390360 entries, 8 to 9151825
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          390360 non-null  object
 1   titleType       390360 non-null  object
 2   primaryTitle    390360 non-null  object
 3   originalTitle   390360 non-null  object
 4   isAdult         390360 non-null  object
 5   startYear       384420 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  390360 non-null  object
 8   genres          366361 non-null  object
dtypes: object(9)
memory usage: 29.8+ MB

In [10]:
basics["genres"].unique()

array(['Romance', nan, 'Action,Adventure,Biography', ...,
       'Music,Musical,Reality-TV', 'Action,Crime,Short',
       'Crime,Fantasy,Sci-Fi'], dtype=object)

In [11]:
len(basics["genres"].unique())

1382

In [12]:
basics.drop(basics[basics["genres"].isna()].index, inplace = True)
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366361 entries, 8 to 9151825
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          366361 non-null  object
 1   titleType       366361 non-null  object
 2   primaryTitle    366361 non-null  object
 3   originalTitle   366361 non-null  object
 4   isAdult         366361 non-null  object
 5   startYear       360553 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  366361 non-null  object
 8   genres          366361 non-null  object
dtypes: object(9)
memory usage: 28.0+ MB

In [13]:
basics.drop(basics[basics["genres"].str.contains("Documentary")].index, inplace = True)
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 279045 entries, 8 to 9151724
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          279045 non-null  object
 1   titleType       279045 non-null  object
 2   primaryTitle    279045 non-null  object
 3   originalTitle   279045 non-null  object
 4   isAdult         279045 non-null  object
 5   startYear       274766 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  279045 non-null  object
 8   genres          279045 non-null  object
dtypes: object(9)
memory usage: 21.3+ MB

In [14]:
len(basics["genres"].unique())

1154

In [15]:
# Get Only Movies Made in 2000-2021
basics["startYear"].unique()

array(['1894', '1906', '1907', '1908', '1910', '1909', '1911', '1913',
       '1912', '1919', '1914', '1915', '1936', '1916', '1917', '1925',
       '1918', '1920', '1921', '1924', '1923', '1922', '1927', '1929',
       '1926', '1993', '1935', '1928', '1942', '1930', '1932', '1931',
       '1937', '1933', '1950', '1938', '1951', '1939', '1934', '1946',
       '1940', '1944', '1947', '1941', '1952', '1970', '1957', '1943',
       '1948', '2001', '1945', '1953', '1954', '1983', '1949', '1973',
       '1961', '1955', '1962', '1958', '1956', '1977', '1964', '1960',
       '1959', '1967', '1965', '1968', '1963', '1971', '1969', '1966',
       '1976', '1990', '1972', '1979', '1981', '2020', '1975', '1978',
       '1989', '1974', '1986', '1987', '1980', '1985', '2018', '1984',
       '1982', '1991', nan, '1988', '2005', '1994', '2004', '2016',
       '1995', '1992', '1998', '2002', '1996', '2017', '1997', '2000',
       '1999', '2006', '2008', '2009', '2007', '2003', '2022', '2012',
       '2010', '2011', '2015', '2021', '2013', '2014', '2019', '2023',
       '1903', '2024', '2025', '2027', '2026'], dtype=object)

In [16]:
basics.drop(basics[basics["startYear"].isna()].index, inplace = True)
basics[["startYear"]].astype(int).describe()

           startYear
count  274766.000000
mean     1990.856187
std        28.212197
min      1894.000000
25%      1972.000000
50%      2001.000000
75%      2014.000000
max      2027.000000

In [17]:
basics.drop(basics[~basics["startYear"].astype(int).isin(range(2000,2022))].index, inplace = True)
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136634 entries, 34790 to 9151724
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          136634 non-null  object
 1   titleType       136634 non-null  object
 2   primaryTitle    136634 non-null  object
 3   originalTitle   136634 non-null  object
 4   isAdult         136634 non-null  object
 5   startYear       136634 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  136634 non-null  object
 8   genres          136634 non-null  object
dtypes: object(9)
memory usage: 10.4+ MB

In [18]:
basics[["startYear"]].astype(int).describe()

           startYear
count  136634.000000
mean     2012.744163
std         5.731971
min      2000.000000
25%      2009.000000
50%      2014.000000
75%      2018.000000
max      2021.000000

In [19]:
# Get Only Movies Released in the United States
akas["region"].unique()

array(['UA', 'DE', 'HU', 'GR', 'RU', 'US', nan, 'JP', 'FR', 'RO', 'GB',
       'CA', 'PT', 'ES', 'FI', 'PL', 'AR', 'RS', 'UY', 'IT', 'BR', 'DK',
       'TR', 'XWW', 'XEU', 'SK', 'CZ', 'SE', 'NZ', 'MX', 'NO', 'XYU',
       'AT', 'VE', 'CSHH', 'SI', 'IN', 'AU', 'TW', 'LT', 'NL', 'CO', 'IR',
       'BG', 'SG', 'BE', 'SUHH', 'HR', 'DZ', 'CH', 'BF', 'PH', 'XWG',
       'VN', 'CN', 'XSA', 'EE', 'IS', 'PR', 'DDDE', 'HK', 'XKO', 'CL',
       'IE', 'JM', 'PE', 'EG', 'GE', 'BY', 'BA', 'AE', 'PA', 'TJ', 'XSI',
       'TH', 'YUCS', 'ZA', 'MY', 'IL', 'LV', 'PK', 'KR', 'BD', 'ID', 'CU',
       'AL', 'BO', 'XAS', 'CR', 'PY', 'DO', 'GT', 'EC', 'SV', 'UZ',
       'BUMM', 'XPI', 'BJ', 'AZ', 'NG', 'CM', 'MA', 'GL', 'MN', 'LI',
       'LU', 'MZ', 'BM', 'KZ', 'MD', 'LB', 'IQ', 'TM', 'MK', 'TN', 'HT',
       'AM', 'LK', 'ME', 'CG', 'CI', 'SY', 'NP', 'QA', 'TO', 'SN', 'GH',
       'JO', 'KG', 'NE', 'GN', 'VDVN', 'TD', 'SO', 'SD', 'MC', 'TT', 'GA',
       'BS', 'LY', 'AO', 'KH', 'MR', 'AF', 'MG', 'ML', 'GY', 'CY', 'ET',
       'GU', 'SR', 'MT', 'TG', 'PG', 'MU', 'BI', 'CF', 'NI', 'ZW', 'ZM',
       'GW', 'DJ', 'KP', 'RW', 'TZ', 'GI', 'LA', 'SC', 'GP', 'XAU', 'FO',
       'PS', 'ZRCD', 'MO', 'AW', 'KW', 'CV', 'SL', 'SM', 'CD', 'BT', 'LS',
       'HN', 'KE', 'MQ', 'AD', 'ER', 'MM', 'SA', 'CSXX', 'IM', 'XKV',
       'BH', 'BB', 'BZ', 'UG', 'AG', 'NU', 'OM', 'BW', 'LR', 'AN', 'MV',
       'YE', 'GM', 'KY', 'NC', 'DM', 'TL', 'MP', 'VA', 'GQ', 'FJ', 'SZ',
       'RE', 'EH', 'PF', 'VG', 'LC', 'MW', 'BN', 'ST', 'KM', 'FM', 'AI',
       'GD', 'VI', 'SB', 'GF', 'AQ', 'MH', 'CW', 'WS', 'VC', 'AS', 'XNA',
       'MS', 'VU', 'SH', 'KI', 'TV', 'CK', 'PW', 'NR', 'KN', 'JE', 'TC'],
      dtype=object)

In [20]:
us_title_ids = akas[akas["region"] == "US"]["titleId"]
us_title_ids

5           tt0000001
14          tt0000002
33          tt0000005
36          tt0000005
41          tt0000005
              ...
32863317    tt9916702
32863354    tt9916720
32863356    tt9916720
32863373    tt9916756
32863389    tt9916764
Name: titleId, Length: 1342706, dtype: object

In [21]:
# Filter Titles and Ratings to Remove Unnecessary Data
akas.drop(akas[~akas["titleId"].isin(basics["tconst"])].index, inplace = True)
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 861585 entries, 194782 to 32863135
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   titleId          861585 non-null  object
 1   ordering         861585 non-null  int64
 2   title            861585 non-null  object
 3   region           731410 non-null  object
 4   language         183554 non-null  object
 5   types            764767 non-null  object
 6   attributes       30425 non-null   object
 7   isOriginalTitle  861585 non-null  object
dtypes: int64(1), object(7)
memory usage: 59.2+ MB

In [22]:
ratings.drop(ratings[~ratings["tconst"].isin(basics["tconst"])].index, inplace = True)
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103129 entries, 17954 to 1263568
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         103129 non-null  object
 1   averageRating  103129 non-null  float64
 2   numVotes       103129 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.1+ MB

In [23]:
# Save Data to Compressed CSVs
os.makedirs("data/", exist_ok= True)
basics.to_csv("data/title_basics.csv.gz",compression='gzip',index=False)
akas.to_csv("data/title_akas.csv.gz",compression='gzip',index=False)
ratings.to_csv("data/title_ratings.csv.gz",compression='gzip',index=False)
os.listdir("data/")

['title_akas.csv.gz', 'title_basics.csv.gz', 'title_ratings.csv.gz']